/* You can add global styles to this file, and also import other style files */
*{
    margin: 0 ;
    margin-left: 0.3%;
    margin-right: 0.5%;
    padding: 0.3%;
    font-family:Chakra Petch ;
    box-sizing: border-box;
}

html{ 
    background: black;
    color: white;
    scroll-behavior: smooth;

}


.logo{
    display: inline-block;
    height: 30vh;
}




nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    gap: 25px;
}

nav ul li{
    display: inline;
    list-style: none;
    margin-left: 0%;
   
    margin: 0 10px;
}
#toggler{
    display: none;

}

nav ul li a{
    color: white;
    font-family:Chakra Petch ;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

fa-solid fa-bars{
    margin-left: 0%;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(255, 105, 51);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    font-family:Chakra Petch ;
    font-size: 25px;
    margin-left: 10px;
}

.header-text h1{
    font-size: 60px;
    margin-left: 0%;
}

span{color: rgb(250, 100, 46);}

/* ----------about---------- */

.about{ 
    padding: 80px 0;
    color:white  ;
    margin-left: 1%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%;
}

.subtitle{
    font-family: Chakra Petch;
    font-weight: 600; 
    font-size: 50px;
    color: white;
    
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative; 
}


.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: orangered;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    color: rgb(248, 107, 56);
    font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}


/* -----------services----------- */

#services{
    padding: 30px 0;
}

.services-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.tos{
    background: rgb(39, 39, 38);
    padding: 50px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list h2{
    font-size:30px ;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list a{
    text-decoration: none;
    color: rgb(245, 171, 145);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;

}

.tos:hover{
    background: orangered;
    transform: translateY(-10px);
    
}


/* ----------portfolio-------- */
#portfolio{
    padding: 50px 0;

}

.work-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),orangered);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    

}


.layer h3{
    font-weight: 400;
    margin-bottom:20px;
}

.layer a{
    margin-top: 20px;
    color: orangered;
    font-size: 18px;
    background: wheat;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer {  
    height: 100%;
}

.btn{
    display:block ;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid orangered;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: wheat;
    transition: background 0.5s;
}

.btn:hover{
    background: rgb(37, 13, 4);
}


/* --------contact--------- */



.contact-left{
    flex-basis: 35%;
    margin-left: 4px;
    
}

.contact-right{
    display: flex;
    flex-basis: 60%;
    
}

.contact-left p{
    margin-top:30px ;
}

.contact-left p i{
    color: orangered;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    color: rgb(73, 72, 72);
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: orangered;
    transform: translateY(-5px);
}

.btn2{
    display: inline-block;
    background: orangered;
}

.contact-right form{
    width: 100;
}

form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: rgb(39, 38, 38);
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 18px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    font-weight: 500;
    margin-top: 20px;
    background: rgb(17, 16, 16);
    
}

.copyright i{
    color: orangered;
}

#sidemenu{
    margin-left: 20%;
    padding-top: 0%;
    float: right;
}



/* -----------css for small screens-------- */

nav .fa-bars{
    display: none;
}

nav .fa-xmark{
    display: none;
}


@media only screen and (max-width: 600px) { 
    .header-text{
        margin-top: 30%;
        font-size: 20px;
    }

    nav .fa-bars{
        display: block;
        font-size: 25px;
    }

    nav .fa-xmark{
        display: block;
        font-size: 25px;
    }

    .header-text h1{
        font-size: 25px;
    }


    nav ul{
        display: inline-block;
        float: left;
        background: orangered;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark{
        position: absolute;
        top: 2%;
        left: 25px;
        cursor: pointer;
    }

    nav ul .fa-bars{
        left: 5px;
        float: left;
    }

    .subtitle{
        font-size: 60px;
        display: inline-block;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 16px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }


    .contact-left, .contact-right{
        flex-basis: 100%;

    }

    .copyright{
        font-size: 14px;
    }

    
}

/* #msg span{
    margin-bottom: 70px;
} */





